#grad {
   height: 600px;
     background: linear-gradient(to bottom right, blue,white);
      border: 5px solid yellow;
}
#img {
   border: 5px solid yellow;
}
h2 {
   color: purple;
   text-shadow: 2px 2px 4px black;
}